{% extends "base.html" %}
{% block title %}Produto{% endblock %}

{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set valor_unitario = result[0].valor_unitario if result else '' %}
{% set foto = result[0].foto if result else '' %}

{% block content %}
<form name="{{ 'formEditar' if result else 'formAdicionar' }}" id="{{ 'formEditar' if result else 'formAdicionar' }}" action="{{ url_for('produto.edit') if result else url_for('produto.insert') }}" method="POST" enctype="multipart/form-data">
	<h1>Funcionário - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
	<label for="id">ID</label>
	<input type="text" name="id" id="id" value="{{ id }}">
	<label for="nome">NOME</label>
	<input type="text" name="nome" id="nome" value="{{ nome }}">
	<label for="descricao">DESCRIÇÃO</label>
	<input type="text" name="descricao" id="descricao" value="{{ descricao }}">
	<label for="valor_unitario">VALOR UNITÁRIO</label>
	<input type="text" name="valor_unitario" id="valor_unitario" value="{{ valor_unitario }}">
	<label for="foto">Imagem:</label>
	<input type="file" name="foto" accept="image/*" id="foto" value="{{ foto }}">
	<button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i class='fas fa-save'></i> Salvar</button>
</form>
{% endblock %}